

@import './Base/Fonts.scss';
@import './Components/Header';
@import './Components/Carousel';
@import './Components/Servicios';
@import './Components/Productos';
@import './Components/Footer';


* {
    margin: 0;
    padding: 0;
}
#body {
    background-color: #98ee99;
}





.h2 {
    display: flex;
    justify-content: center;
    font-family: 'Cinzel Decorative', cursive;
    padding-bottom: 10px;
}




.grid-container{
    margin: 4% 10%;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    display:grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    }

    #ImagenProducto{
    width: 180px;
    }


    .navbar-collapse{
        justify-content: center;
    }

    .navbar-light .navbar-nav .nav-link {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    }

@media only screen and (Max-width: 1000px) {

        .logoArraigo{
            display: none;
        }
 }





/* Grid del index */



@media only screen and (Max-width: 500px){
    .Grid-index-Container{

        display: grid;
        grid-template-columns: repeat(4, 100%);
        gap: 10px;
        grid-template-areas: 
        'Header'
        'Carousel'
        'Productos'
        'Servicios'
        'Footer1';
    }

}





